<div class="container">
  <h1>Bienvenida al Finden!</h1>
  <p></p>

  <table>
    <p>
    <tr>
      <th>By categories</th>
      <th>By titles</th>
    </tr>
    <td>
      <ul>
        <% @categories.each do |x| %>
          <a href="/categories/<%= x.name %>"><li><%= x.name %></li></a>
        <% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @posts.each do |x| %>
        <a href="/posts/<%= x.id %>"><li><%= x.title %></li></a>
        <% end %>
      </ul>
    </td>


  </table>
</div>

<!-- <form action="/search" method="post">
  <input type="text" name="search">
  <input type="submit" value="Enter">
</form> -->

