<div class="container">
  <h1>Bienvenida al Finden!</h1>
  <p></p>

  <table>
    <p>Have something to offer? <a href="/posts/new">Write a new post!</a>
    <tr>
      <th>Categories</th>
    </tr>
    <td>
      <ul>
        <% @categories.each do |x| %>
          <a href="/categories/<%= x.id %>"><li><%= x.name %></li></a>
        <% end %>
      </ul>
    </td>
  </table>
    <a href="/all_posts">All posts</a><br><br>
    <a href="/categories/new">Create a new category</a>
</div>



<!-- <form action="/search" method="post">
  <input type="text" name="search">
  <input type="submit" value="Enter">
</form> -->

