<div class="container">
  <br>
  <form action="/categories/create" method="post">
    Category name:<input type="text" name="categories[name]"><br>
    <input type="submit" value="Submit">
  </form>
</div>