
<h1>--Create a new post--></h1><br><br>

<form action="/posts" method="post">
  Your name:<br><input type="text" name="posts[name]"><br>
  Contact number:<br><input type="text" name="posts[phone]"><br>
  Email:<br><input type="text" name="posts[email]"><br>
  Title:<br><input type="text" name="posts[title]"><br><br><br><br>
  Description:<br><textarea name="posts[description]" cols="40" rows="10"> </textarea>
  <br>
  Category:<br><input type="text" name="posts[category_name]"><br>
  <br>
  <input type="submit" value="Submit your post">
</form>